/*
Color scheme:
Main Red: F5525D
Alt Red: A63A44
Blue: B7E4F2
Green: 6F9940
White: F9F2F0
*/
.main_div {
    display: block;
    background-color: #B7E4F2;
    box-shadow: 5px 5px 5px;
    height:80vh;
    width: 100vw;
}
.banner {
    background-color: #F5525D;
    color: #F9F2F0;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    font-size: 48px;
}
.sub_banner {
    font-size: 20px;
}
.custom-control-label {
    margin: 2vh;
}
.search_btn {
    height: 15vh;
    width: 30vw;
    color: white;
    margin-left: 5vw;
    margin-right: 20vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #6F9940;
    border: none;
    border-radius: 10px;
}
.zip_box {
    width: 40vw;
    border-radius: 5px;
    border: 1px solid #F5525D;
}
.result {
    margin-top: 5%;
    display: block;
    border: 1px;
    background-color: #B7E4F2;
    box-shadow: 5px 0px 5px; 
}
.result a:hover {
    background-color: #495057;
}
.pizza-icon {
    height: 10vh;
    width: 5vw;
    position: left;
    margin: 2px; 
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../img/Pizza-Pattern-Vector.jpg");
    background-color: #B7E4F2;
}
button {
    background-color: #6F9940;
    border: none;
    border-radius: 10px;
}