.col-center {
    float: none;
    margin: 0 auto;
}
.search_btn {
    height: 50px;
    width: 100px;
    color: white;
    margin-left: 50%;
    margin-top: 50px;
    background-color: green;
    border: none;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
button {
    border-color: skyblue;
    border-width: 3px;
    background-color: white;
}